@{
    Layout="_Layout_bmw";
}
@{
    ViewData["Title"] = "BMW";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model List<Auto>

<div id="PlaceHolderHere"></div>
<div style="margin-top: 15px;">
    <ul class="nav nav-tabs dark">
        <li class="nav-item">
            <a class="nav-link" asp-action="MercedesBenz">Mercedes Benz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-action="BMW">BMW</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Bentley">Bentley</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Porsche">Porsche</a>
        </li>
    </ul>
</div>

<div class="container" style="text-align: center;">
    <img src="~/images/bmw.png" width="90" height="90" style="margin-top: 30px;">
    <h2>BMW</h2>
</div>

<div class="container" style="margin-top: 25px; padding-bottom: 41px;">
    <form action="" method="post">     
       @foreach (var auto in Model)
       {
           <div class="row">
            @if (@auto.id==201)
            {
                <div style="padding-top: 11px; padding-left: 6px; padding-bottom: 1px; background-color: #E0E0E0; min-width: 100%; opacity: 70%;">
                <table style="margin-bottom: 25px;">
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center; font-weight: 800;">@auto.modelo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="~/images/bmw_serie1.jpg"  width="216" height="115">
                            </td>
                            @if (SignInManager.IsSignedIn(User))
                            { 
                            <td>
                                <button type="button" class="btn btn-dark" style="margin-left: 15px;"  data-toggle="ajax-modal" data-target="#Consulta" data-url="@Url.Action($"Consulta/{auto.id}")">Consultar</button>
                            </td>
                            }else{
                            <td>
                                <button type="button" class="btn btn-dark" style="margin-left: 15px;" data-toggle="modal" data-target="#Consultar">
                                    Consultar
                                </button>
                                <div class="modal fade" id="Consultar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Inicie sesión para continuar</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a class="nav-link" href="~/Home/Login" style="font-weight: 500; color: #161515;">
                                        <button type="button" class="btn btn-primary">Iniciar sesión</button>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </td>        
                            }
                        </tr>
                    </tbody>
                </table>
                </div>
            }
            @if (@auto.id==202)
            {
                <div style="padding-top: 11px; padding-left: 6px; padding-bottom: 1px; background-color: #E0E0E0; min-width: 100%; opacity: 70%;">
                <table style="margin-bottom: 25px;">
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center; font-weight: 800;">@auto.modelo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="~/images/bmw_serie2.jpeg" width="216" height="115">
                            </td>
                            @if (SignInManager.IsSignedIn(User))
                            { 
                            <td>
                                <button type="button" class="btn btn-dark" style="margin-left: 15px;"  data-toggle="ajax-modal" data-target="#Consulta" data-url="@Url.Action($"Consulta/{auto.id}")">Consultar</button>
                            </td>
                            }else{
                            <td>
                                <button type="button" class="btn btn-dark" style="margin-left: 15px;" data-toggle="modal" data-target="#Consultar">
                                    Consultar
                                </button>
                                <div class="modal fade" id="Consultar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Inicie sesión para continuar</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a class="nav-link" href="~/Home/Login" style="font-weight: 500; color: #161515;">
                                        <button type="button" class="btn btn-primary">Iniciar sesión</button>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </td>        
                            }
                        </tr>
                    </tbody>
                </table>  
                </div>           
            }
            @if (@auto.id==203)
            {
                <div style="padding-top: 11px; padding-left: 6px; padding-bottom: 1px; background-color: #E0E0E0; min-width: 100%; opacity: 70%;">
                <table style="margin-bottom: 25px;">
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center; font-weight: 800;">@auto.modelo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="~/images/bmw_x6m.jpg" width="216" height="115">
                            </td>
                            @if (SignInManager.IsSignedIn(User))
                            { 
                            <td>
                                <button type="button" class="btn btn-dark" style="margin-left: 15px;"  data-toggle="ajax-modal" data-target="#Consulta" data-url="@Url.Action($"Consulta/{auto.id}")">Consultar</button>
                            </td>
                            }else{
                            <td>
                                <button type="button" class="btn btn-dark" style="margin-left: 15px;" data-toggle="modal" data-target="#Consultar">
                                    Consultar
                                </button>
                                <div class="modal fade" id="Consultar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Inicie sesión para continuar</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a class="nav-link" href="~/Home/Login" style="font-weight: 500; color: #161515;">
                                        <button type="button" class="btn btn-primary">Iniciar sesión</button>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </td>        
                            }
                        </tr>
                    </tbody>
                </table>   
                </div>          
            }
            @if (@auto.id==204)
            {
                <div style="padding-top: 11px; padding-left: 6px; padding-bottom: 1px; background-color: #E0E0E0; min-width: 100%; opacity: 70%;">
                <table style="margin-bottom: 25px;">
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center; font-weight: 800;">@auto.modelo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="~/images/bmw_m4cs.jpg" width="216" height="115">
                            </td>
                            @if (SignInManager.IsSignedIn(User))
                            { 
                            <td>
                                <button type="button" class="btn btn-dark" style="margin-left: 15px;"  data-toggle="ajax-modal" data-target="#Consulta" data-url="@Url.Action($"Consulta/{auto.id}")">Consultar</button>
                            </td>
                            }else{
                            <td>
                                <button type="button" class="btn btn-dark" style="margin-left: 15px;" data-toggle="modal" data-target="#Consultar">
                                    Consultar
                                </button>
                                <div class="modal fade" id="Consultar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Inicie sesión para continuar</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a class="nav-link" href="~/Home/Login" style="font-weight: 500; color: #161515;">
                                        <button type="button" class="btn btn-primary">Iniciar sesión</button>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </td>        
                            }
                        </tr>
                    </tbody>
                </table>     
                </div>        
            }
           </div>          
        }
    </form>
</div>

<div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
<div>
    <div class="row" style="margin-bottom: 10px; padding-left: 85px;">
    <div class="col-xs-4" style="padding-left: 125px;"><a href="https://www.facebook.com/angieortiz.avalos%22%3E"><img src="~/images/fb_logo.png" width="25" height="25"/></a></div>
    <div class="col-xs-4" style="padding-left: 25px;"><a href="https://www.instagram.com/angieortiz_a/%22%3E"><img src="~/images/ig_logo.png" width="25" height="25"/></a></div>
    <div class="col-xs-4" style="padding-left: 25px;"><a href="https://mobile.twitter.com/?lang=es"><img src="~/images/twitter.jpg" width="25" height="25"/></a></div>
</div>

<div class="row" style="padding-top: 14px; background-color: #161515;">
        
            <div class="col-xs-3" style="padding-left: 20px;"><img src="~/images/phone.png"/></div>
            <div class="col-xs-3" style="margin-top: 1px;"><p style="color: #898989;">+51 922 653 075</p></div>
            
            <div class="col-xs-3"style="margin-left: 40px;"><img src="~/images/mail.png" width="25" height="25"/></div>
            <div class="col-xs-3"style="margin-rigth: 10px; margin-left: 2px;"><p style="color: #898989;">support@arent.pe</p></div>
             
       </div>
</div>
<p style="text-align: center; color: #FFFFFF; margin-top: 8px;">Developed by <strong>TCTO</strong></p>
</div>