@{
    ViewData["Title"] = "BMW";
}
<div class="text-center" style="padding-top: 15px;">
    <img src="~/images/bmw.png" width="90" height="90">
    <h2 style="text-align: center;">BMW</h2>
</div>

<div class="container" style="margin-top: 25px;">
    <form action="" method="post">
    <table>        
       @foreach (var auto in Model)
       {
        @if (@auto.id==201)
        {
            <tr>
                <th colspan="2" style="text-align: center;">@auto.modelo</th>
            </tr> 
            <tr>
                <td>
                    <img src="~/images/bmw_serie1.jpg" width="216" height="115" style="margin-bottom: 30px;">
                </td>
                <td>
                    <button class="btn btn-primary" style="margin-left: 18px;">Consultar</button>
                </td>
            </tr>             
        }
        @if (@auto.id==202)
        {
            <tr>
                <th colspan="2" style="text-align: center;">@auto.modelo</th>
            </tr> 
            <tr>
                <td>
                    <img src="~/images/bmw_serie2.jpeg" width="216" height="115" style="margin-bottom: 30px;">
                </td>
                <td>
                    <button class="btn btn-primary" style="margin-left: 18px;">Consultar</button>
                </td>
            </tr>             
        }
        @if (@auto.id==203)
        {
            <tr>
                <th colspan="2" style="text-align: center;">@auto.modelo</th>
            </tr> 
            <tr>
                <td>
                    <img src="~/images/bmw_x6m.jpg" width="216" height="115" style="margin-bottom: 30px;">
                </td>
                <td>
                    <button class="btn btn-primary" style="margin-left: 18px;">Consultar</button>
                </td>
            </tr>             
        }
        @if (@auto.id==204)
        {
            <tr>
                <th colspan="2" style="text-align: center;">@auto.modelo</th>
            </tr> 
            <tr>
                <td>
                    <img src="~/images/bmw_m4cs.jpg" width="216" height="115">
                </td>
                <td>
                    <button class="btn btn-primary" style="margin-left: 18px;">Consultar</button>
                </td>
            </tr>             
        }          
       }        
        

    </table>
    </form>
</div>  
<br><br>