@{
    ViewData["Title"] = "Mercedes Benz";
}
@model List<Auto>


<div class="container" >
    <img src="~/images/mb_logo.png" width="280" height="75" style="margin-top: 30px; text-align: center;">
</div>

<div class="container" style="margin-top: 25px;">
    <form action="" method="post">       
       @foreach (var auto in Model)
        {
            @if (@auto.id==101)
            {
                <table>
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center;">@auto.modelo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="~/images/mb_amga35.jpeg" width="216" height="115">
                            </td>
                            <td>
                                <button class="btn btn-primary" style="margin-left: 15px;">Consultar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>       
            }
            @if (@auto.id==102)
            {
                <table>
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center;">@auto.modelo</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="~/images/mb_amgc43.jpg" width="216" height="115">
                            </td>
                            <td>
                                <button class="btn btn-primary" style="margin-left: 15px;">Consultar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>            
            }
            @if (@auto.id==103)
            {
                <table> 
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center;">@auto.modelo</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="~/images/mb_amggle53.jpg" width="216" height="115">
                            </td>
                            <td>
                                <button class="btn btn-primary" style="margin-left: 15px;">Consultar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>             
            }
            @if (@auto.id==104)
            {
                <table>
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center;">@auto.modelo</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr>
                            <td>
                                <img src="~/images/mb_gt.jpg" width="216" height="115">
                            </td>
                            <td>
                                <button class="btn btn-primary" style="margin-left: 15px;">Consultar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>             
            }          
        }
    </form>
</div>  